
* {box-sizing: border-box}
*:before,
*:after {
 box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  font-size: 2vmin; 
  background-image: url('assets/backgroundMainPage.jpg'); 
  height: 100vh;
  width: 100vw;
  color: black;
}

.borderStyle{
  border: 2px solid #585757;
}

/* Haptic effect for text */
.haptic-on{
  -webkit-animation: haptic-on 1.5s forwards 0.5s;
  -moz-animation: haptic-on 1.5s forwards 0.5s;
  animation: haptic-on 1.5s forwards 0.5s;
  color: white;
}

.haptic-swing {
  -webkit-animation: haptic-swing 1.5s ease-in-out infinite alternate;
  -moz-animation: haptic-swing 1.5s ease-in-out infinite alternate;
  animation: haptic-swing 1.5s ease-in-out infinite alternate;
  color: white;
}

@keyframes haptic-on {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #cccef8;
  }
}

@keyframes haptic-swing {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #cccef8;
  }
  to {
    text-shadow: 0 0 4vmin #fff, 0 0 5vmin #fff, 0 0 7vmin #fff, 0 0 8vmin #cccef8;
  }
}
/* --------------- */

.sidenav {
  height: 100%;
  width: 30vmin;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202020;
  overflow-x: hidden;
  padding-top: 20px;
  cursor: pointer;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3vmin;
  color: #818181;
  display: block;
  margin-bottom: 2vmin;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 4vmin;}
}

.footer{
  left: 0;
  right: 0;
  width: 100%;
  background-color:#585757;
  color: white;
  height: 12vmin;
  font-size: 2vmin;
}

.footerImage{
  right: 50%;
  left: 50%;
  z-index: 10;
  width: 10vmin;
  height: 10vmin;
}

img {
     max-width: 100%;
     max-height: 100%;
	}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.helper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 60vmax;
  max-height: 120vmax;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.seleniumByGUI {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 60vmax;
  max-height: 120vmax;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.fastCapture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 60vmax;
  max-height: 120vmax;
  margin: auto;
  text-align: center;
  font-family: arial;
}


.aboutDeveloper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 60vmax;
    max-height: 120vmax;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  
.helpToUser {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 60vmax;
    max-height: 120vmax;
    margin: auto;
    text-align: center;
    font-family: arial;
  }


.helper button {
  border: none;
  outline: 0;
  padding: 1vmin;
  color: white;
  background-color: #3f3f3f;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 2vmin;
  border-radius: 3vmax;
  margin-bottom: 1vmin;
  border: 3px solid rgb(112, 112, 112);
}

.helper button:hover {
  opacity: 0.9;
}



.seleniumByGUI button {
  border: none;
  outline: 0;
  padding: 1vmin;
  color: white;
  background-color: #3f3f3f;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 2vmin;
  border-radius: 3vmax;
  margin-bottom: 1vmin;
  border: 3px solid rgb(112, 112, 112);
}

.seleniumByGUI button:hover {
  opacity: 0.9;
}



.fastCapture button {
  border: none;
  outline: 0;
  padding: 1vmin;
  color: white;
  background-color: #3f3f3f;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 2vmin;
  border-radius: 3vmax;
  margin-bottom: 1vmin;
  border: 3px solid rgb(112, 112, 112);
}

.fastCapture button:hover {
  opacity: 0.9;
}

.aboutDeveloper button {
    border: none;
    outline: 0;
    padding: 1vmin;
    color: white;
    background-color: #3f3f3f;
    text-align: center;
    cursor: pointer;
    width: 35%;
    font-size: 2vmin;
    border-radius: 3vmax;
    margin-bottom: 1vmin;
    border: 3px solid rgb(112, 112, 112);
  }
  
  .aboutDeveloper button:hover {
    opacity: 0.9;
  }
  


.cardDescription {
  display: block;
  font-size:2vmin;
}

.headerTools{
  color:black;
  font-size:3vmin;
}

.headerPage{
  color:black;
  font-size:4vmin;
  text-align: center;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

/* Here starts animation for download*/
#waitDownloading {
  visibility: hidden;
  width: 35vmin;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 3vmax;
  padding-bottom: 1vmin;
  position: fixed;
  z-index: 10;
  left: 40%;
  font-size: 2vmin;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

#waitDownloading.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*Here download animation ends*/


/* Style the tab content */
.tabcontent {
  float: center;
  padding: 0px 12px;
  border: 0px solid #ccc;
  border-left: none;
  display: none;
  position: relative;
  width: 80%;
  height: 125%;
  margin-bottom: 10vmin;
  margin-left: 15vmin;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



.refreshIcon{
  background: url('assets/refresh.png');
  background-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  display: block;
  position: absolute;
  border-radius: 1vmin;
}


.fileIcon{
background: url('assets/file.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: block;
position: absolute;
}

.infoIcon{
background: url('assets/information.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: block;
position: absolute;
}


.helpIcon{
background: url('assets/help.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: block;
position: absolute;
}



.downloadIcon{
background: url('assets/download.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: block;
position: absolute;
}



.contactIcon{
background: url('assets/contact.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: block;
position: absolute;
}

.githubIcon{
  background: url('assets/github.png');
  background-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  display: block;
  position: absolute;
  border-radius: 2vmin;
  }
  
  

.externalIcon{
  background: url('assets/externalButton.png');
  background-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  display: block;
  position: absolute;
  border-radius: 2vmin;
  }
  



.linkedinIcon{
background: url('assets/linkedin.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: block;
position: absolute;
}



.downloadingIcon{
background: url('assets/downloading.png');
background-size: 3vmin;
height: 3vmin;
width: 3vmin;
display: inline-block;
position: relative;
top: 1vmin;
margin-right: 2vmin;
}


.hoverOnIcon{
  background: url('assets/hoverLeft.png');
  background-size: 5vmin;
  height: 5vmin;
  width: 5vmin;
  display: block;
  position: absolute;
}


.rateIcon{
  background: url('assets/usersRate.png');
  background-size: 2vmin;
  height: 2vmin;
  width: 2vmin;
  position: absolute;
  margin-left: 12vmin;
  }

table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 2vmin;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 1vmin;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Star rating */
/* Modified and changed from: https://github.com/mukulkant/Star-rating-using-pure-css  thanks for great tutorial appreciate*/
.rateHelper {
  float: center;
  height: 5vmin;
  padding: 0 10px;
}
.rateHelper:not(:checked) > input {
  position:absolute;
  display: none;
}
.rateHelper:not(:checked) > label {
  float:right;
  width:5em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:2vmin;
  color:rgb(160, 158, 158);
}
.rateHelper:not(:checked) > label:before {
  content: '★ ';
}
.rateHelper > input:checked ~ label {
  color: #dfb82f;    
}
.rateHelper:not(:checked) > label:hover,
.rateHelper:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rateHelper > input:checked + label:hover,
.rateHelper > input:checked + label:hover ~ label,
.rateHelper > input:checked ~ label:hover,
.rateHelper > input:checked ~ label:hover ~ label,
.rateHelper > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.rateSelenium {
  float: center;
  height: 5vmin;
  padding: 0 10px;
}
.rateSelenium:not(:checked) > input {
  position:absolute;
  display: none;
}
.rateSelenium:not(:checked) > label {
  float:right;
  width:5em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:2vmin;
  color:rgb(160, 158, 158);
}
.rateSelenium:not(:checked) > label:before {
  content: '★ ';
}
.rateSelenium > input:checked ~ label {
  color: #dfb82f;    
}
.rateSelenium:not(:checked) > label:hover,
.rateSelenium:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rateSelenium > input:checked + label:hover,
.rateSelenium > input:checked + label:hover ~ label,
.rateSelenium > input:checked ~ label:hover,
.rateSelenium > input:checked ~ label:hover ~ label,
.rateSelenium > label:hover ~ input:checked ~ label {
  color: #c59b08;
}



.rateFastCapture {
  float: center;
  height: 5vmin;
  padding: 0 10px;
}
.rateFastCapture:not(:checked) > input {
  position:absolute;
  display: none;
}
.rateFastCapture:not(:checked) > label {
  float:right;
  width:5em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:2vmin;
  color:rgb(160, 158, 158);
}
.rateFastCapture:not(:checked) > label:before {
  content: '★ ';
}
.rateFastCapture > input:checked ~ label {
  color: #dfb82f;    
}
.rateFastCapture:not(:checked) > label:hover,
.rateFastCapture:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rateFastCapture > input:checked + label:hover,
.rateFastCapture > input:checked + label:hover ~ label,
.rateFastCapture > input:checked ~ label:hover,
.rateFastCapture > input:checked ~ label:hover ~ label,
.rateFastCapture > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
