
* {box-sizing: border-box}
*:before,
*:after {
 box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  font-size: 2vmin; 
  background-image: url('assets/backgroundMainPage.jpg'); 
  height: 100vh;
  width: 100vw;
  color: black;
}

.main {
    margin-left: 20vmin;
    font-size: 2vmin; 
    padding: 0px 10px;
    font-family: 'Times New Roman', Times, serif;
  }


.sidenav {
  height: 100%;
  width: 20vmin;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #202020;
  overflow-x: hidden;
  padding-top: 2vmin;
  border-top: 1vmin solid #095484;
  border-bottom: 1vmin solid #095484;
}
  
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3vmin;
  color: #818181;
  display: block;
  margin-bottom: 2vmin;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 4vmin;}
}
  

.footer{
left: 0;
right: 0;
width: 100%;
background-color:#2c2c2c;
color: white;
font-size: 2vmin;
margin-top: 155vmin;
position: absolute;
height: 40%;
}

.footerImage{
z-index: 10;
width: 7vmin;
height: 7vmin;
margin-left: 50%;
}


img {
    max-width: 100%;
    max-height: 100%;
    }

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}


.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 0px solid #ccc;
  border-left: none;
  height: 80vh;
  width: 90%;
  margin-top: 5vmin;
  margin-left: 2vmin;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.aboutIcon{
  background: url('assets/aboutIcon.png');
  background-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  display: block;
  position: absolute;
}


.backIcon{
  background: url('assets/back.png');
  background-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  display: block;
  position: absolute;
}


.shownIcon{
  background: url('assets/shownIcon.png');
  background-size: 3vmin;
  height: 3vmin;
  width: 3vmin;
  position: absolute;
  margin-left: 1vmin;
}
